.container{


    margin: auto;
    width: 80%;
    margin-top: 10px;
    justify-content: center;
    border: 1px solid blue;
    padding: 15px;

}

.btn{
    width: 100%;
}

.form-select{
    margin-top: 20px;
    margin-bottom: 20px;
}